/.metadata/
/Servers/
/educative-media-app/
/DispServDemo/
/DispatcherServletDemo/
/ecommerce-rest-spring-jpa/
/okta-spring-microservices-docker-example/
/eventuate-examples-java-customers-and-orders/
/gradle/
